/* COMMON SHARED STYLES */
*{
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
}

/* HEADER STYLES */
header{
    background: radial-gradient(transparent 20%, black), url(../images/banner/banner-image.jpg);
    background-repeat: no-repeat;
    margin: 50px 140px 120px 140px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}

.banner-container{
    width: 82.5%;
    max-width: 1320px;
    max-height: 600px;
    margin: 0 auto;
}

#banner-heading{
    color: #FFF;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 85px;
    font-weight: 400;
    text-shadow: 10px 10px #000000;
    position: center;
    padding-top: 227px;
    padding-bottom: 16px;
}

#banner-heading-2{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 5px 5px #000000;
    padding-bottom: 177px;
}


/* OFFER STYLES */
.offers{
    text-align: center;
}

#offers-65{
    color: #F00;
    font-family: 'Rajdhani';
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}

#offers-65-2{
    color: #F00;
    font-family: 'Rajdhani';
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
}

#offers-65-3{
    color: #070211; 
    font-family: 'Rajdhani';
    font-size: 24px;
    font-weight: 500;
}

#offers-65-4{
    color: #070211; 
    font-family: 'Bebas Neue';
    font-size: 48px;
    font-weight: 700; 
    margin-top: 50px;
}

#offers-hny-image{
    width: 802.9px;
    height: 500px;
    margin-top: 50px;
    padding-bottom: 120px;
}

/* MIDNIGHT PARTY STYLES */
.midnight-party{
    background: linear-gradient(to right, black, #ffffff00), url(../images/banner/midnight-party.png); 
    background-repeat: no-repeat;
    margin: 50px 140px 120px 140px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
}

#party-title{
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 5.04px;
    width: 642px; 
    margin-top: 126px;
    margin-left: 126px;
}

#party-info{
    color: rgba(255, 255, 255, 0.80);
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: 400;
    font-style: bold;
    text-shadow: 2px 2px #000000;
    width: 697px;
    margin-top: 24px;
    margin-left: 126px;
}

#party-btn{
    margin-top: 48px;
    margin-left: 158px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    color: #FFF; 
    text-align: center;
    font-family: Bebas Neue;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; 
}

#party-2024{
    width: 319.83px;
    height: 464.662px;
    padding-top: 68.11px;
    padding-right: 138px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
}

.date-venue{
    background: linear-gradient(180deg, rgba(0, 60, 255, 0.1) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin: 50px 140px 120px 140px;
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.dvt{
    text-align: center;
    font-family: 'Rajdhani';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 3px; 
    font-style: bold;
}

.date-venue-highlight{
    color: #F00;
}

#date-venue-btn{
    margin-top: 48px;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    gap: 10px;

    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}

